
/* Import fonts from fonts file*/
@import url(./fonts.css);

/* CSS variables */
@import url(./partials/_variables.css);

/* global styling */
@import url(./partials/_global.css);

/*start navigation*/

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*end navigation*/

/*start banner area*/

.site-main .container .row .title-text{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.site-main .container .row .first-line{
    padding-top: 20%;
} 


.site-main .container .row .banner-image > img{
    padding: 4rem 0;
    width: 90rem;

}

/*end banner area*/

/* start about area */

.site-main .about-area{
    padding: 1rem 1rem;
    padding-top: 7rem;

}

.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;

}


/* end about area */

/* Start contact area*/

.site-main .contact-area .contact-title{
    padding-top: 1rem;

}

.site-main .contact-area .contact-image > img{
    padding: 4rem 0;
    width: 90rem;
}

.site-main .contact-area .contact-title h2>span{
    
    display: block;
    font: normal bold 49px/60px var(--roboto);
}

/* End contact area*/

/* Start hl area */

.site-main .hl-area .hl-title{
    padding-top: 1rem;

}

.site-main .hl-area .hl-image > img{
    padding: 4rem 0;
    width: 90rem;
}

.site-main .hl-area .hl-title h2>span{
    
    display: block;
    font: normal bold 49px/60px var(--roboto);
}

/* End hl area */

/* Start oc area */

.site-main .oc-area .oc-title{
    padding-top: 1rem;

}

.site-main .oc-area .oc-image > img{
    padding: 4rem 0;
    width: 90rem;
}

.site-main .oc-area .oc-title h2>span{
    
    display: block;
    font: normal bold 49px/60px var(--roboto);
}

/* End oc area*/

/* Start ft area */

.site-main .ft-area .ft-title{
    padding-top: 1rem;

}

.site-main .ft-area .ft-image > img{
    padding: 4rem 0;
    width: 90rem;
}

.site-main .ft-area .ft-title h2>span{
    
    display: block;
    font: normal bold 49px/60px var(--roboto);
}

/* End ft area */